
@{
    ViewBag.Title = "EmailSent";
    Layout = "~/Areas/ModulAdministrator/Views/Shared/_AdminLayout.cshtml";
}


<table style="margin-top:20px">
    <tr>
        <td style="padding:10px 10px 10px 10px"><img src="https://cdn0.iconfinder.com/data/icons/thin-communication-messaging/24/thin-0320_email_mail_post_card_sent_successful-512.png" width="60" height="50" /></td>
        <td style="text-align:center"><h2>Uspješno aktiviran account!</h2></td>
    </tr>
</table>


