
@{
    ViewBag.Title = "Onama";
    Layout = "~/Views/Shared/_PocetnaLayout.cshtml";
}
<html>
<body>

    <!-- about -->
    <div class="about" id="about">
        <div class="container">
            <h3>O NAMA</h3>
            @*<div class="about-grids">
                <div class="col-md-4 about-grid">
                    <img src="images/3.jpg" alt=" " class="img-responsive" />
                    <div class="img-bottom">
                        <p>Miss.Laura</p>
                    </div>
                </div>
                <div class="col-md-4 about-grid">
                    <img src="images/5.jpg" alt=" " class="img-responsive" />
                    <div class="img-bottom">
                        <p>Miss.Franklee</p>
                    </div>
                </div>
                <div class="col-md-4 about-grid">
                    <img src="images/7.jpg" alt=" " class="img-responsive" />
                    <div class="img-bottom">
                        <p>Miss.Russy Arora</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>*@
            <div class="about-grids-bottom">
                <div class="col-md-4 about-us">
                    <h4>O nama</h4>
                    <p>
                        U savremenom i prijatnom ambijentu, uz najnovija saznanja i poslednja dostignuća tehnike,
                        vodimo računa da Vam svo vrijeme tretmana bude što ugodnije i da uz našu pomoć savladate
                         strah od stomatoloških intervencija. Obratite nam se sa povjerenjem!
                    </p>
                </div>
                <div class="col-md-4 about-us">
                    <h4>Ko smo mi</h4>
                    <p>
                        Od samog početka zamisao je da se ordinacija širi i da ostvaruje partnerstvo sa ostalim 
                        kolegama koji su stručnjaci u svojoj grani stomatologije. Na ovaj način, mi smo za vrlo
                        kratko vrijeme postigli da se naša ordinacija razvije u jednu ozbiljnu ustanovu,
                        dovoljno veliku da pruži usluge hiljadama naših pacijenata.
                    </p>
                </div>
                <div class="col-md-4 about-us">
                    <h4>Zašto ovo radimo</h4>
                    <p>
                        Mi smo tu da Vam sačuvamo osmjeh i potrudićemo se da Vaše povjerenje nikada ne iznevjerimo !
                        Dobrobit naših pacijenata je naša misija, te uz posjedovanje najkvalitetnije tehnologije 
                        dostupne u stomatologiji redovno sudjelujemo na stručnim usavršavanjima u zemlji i inozemstvu.
                       
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="subscribe">
        <div class="container">
            <div class="sub-new">
                <h4>Za osmijeh o kojem ste oduvijek maštali ...</h4>
                <h4>POSJETITE NAS ...</h4>
               
            </div>
        </div>
    </div>
    <!-- //about -->

</body>
</html>
