
@{
    ViewBag.Title = "Savjeti";
    Layout = "~/Views/Shared/_PocetnaLayout.cshtml";
}

<html>
<body>
    <!-- about -->
    <div class="about" id="about">
        <div class="container">
            <h3>Savjeti</h3>
         
            <div class="about-grids-bottom">
                <div class="col-md-4 about-us">
                    <h4>Kako pravilno prati zube</h4>
                    <p>
                        Četkicu postaviti sa spoljašnje strane zuba delom na zube, a delom na desni. Zatim laganim vibrirajućim pokretima pomerati četkicu levo-desno što će omogućiti vlaknima četkice da prođu između zuba, a potom povući četkicu na dole ako su gornji zubi u pitanju, odnosno na gore ako su donji zubi u pitanju.
                    </p>
                </div>
                <div class="col-md-4 about-us">
                    <h4>Savjeti za djecu</h4>
                    <p>
                        Veoma je važno da prva posjeta stomatologu bude pozitivno iskustvo i protekne prijatno. Važnu ulogu u pripremi Vašeg djeteta imate baš Vi. Mi Vam možemo pomoći tako što ćemo Vas uputiti šta bi bilo dobro da uradite ili kažete i šta nikako ne bi trebalo.
                    </p>
                </div>
                <div class="col-md-4 about-us">
                    <h4>Savjeti opšte stomatologije</h4>
                    <p>
                        Uvijek je bolje spriječiti nego liječiti! Doći na vrijeme kod stomatologa znači još manje neprijatnosti i manje novca. Preventiva znači redovan pregled usta i zuba, bar 2-3 puta godišnje.Pregledom se utvrđuje da li su zubi i usta njegovani ili zapušteni, da li postoji zubni kamenac, karijes, stare plombe koje treba zamjeniti.
                    </p>
                </div>
                <div class="col-md-4 about-us">
                    <h4>Koja je pasta za zube najbolja?</h4>
                    <p>
                        Najbolja je ona pasta koja Vama odgovara. Postoji veliki broj različitih zubnih pasta, za koje proizvođači tvrde da su naročito pogodne za pojedina stanja usne duplje – protiv kamenca, osetljivosti zuba, gingivitisa i slično. Najbolje je da o tome koja pasta najviše odgovara vašim ustima, pitate svog stomatologa.
                    </p>
                </div>

                <div class="col-md-4 about-us">
                    <h4>Dentalni konac ili tečnost za ispiranje usta</h4>
                    <p>
                        Standardni konac za čišćenje zuba se generalno smatra najefikasnijem alatom za čišćenje uskih prostora između zuba tzv. interdentalnih prostora.

                        Tečnost za ispiranje usta ima za cilj smanjenje krvarenja i sprečavanje bolesti desni, ali nije zamjena za pranje zuba ili čišćenje koncem.

                        Koristite voskirani konac sa fluorom, jer običan može da Vam se zaglavi između zuba. 
                    </p>
                </div>

                <div class="col-md-4 about-us">
                    <h4>Električna ili obična četkica za zube</h4>
                    <p>
                        Moguće je efikasnije oprati zube običnom četkicom, ali električna četkica za zube može biti odlična alternativa, posebno ako imate artiritis, koje otežava pravilno pranje zuba. Snažniji pokreti električne četkice za zube mogu Vam pomoći da uklonite efikasnije plak i poboljšate zdravlje desni.

                       

                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
  
    <!-- //about -->
</body>
</html>

