


<html>
<head>
   
</head>
<body>
    <div style="margin:0 auto;width:500px;border:1px solid black">
        <div style="background-color:deepskyblue;color:white">
            <table>
                <tr>
                    <td><img src="http://totsabout.co.uk/wp-content/uploads/tooth.png" alt="Logo" title="Logo" style="display:block;float:left;padding:10px 10px" width="70" height="60" /></td>
                    <td style="font-size:20px">Stomatološka ordinacija dr. Kebo</td>
                </tr>
            </table>

        </div>

        <div style="background-color:white;font-size:18px;color:black;padding:10px 10px 10px 10px">
            <br />
            <br />
            <p>Poštovani,</p>
            <p>Hvala Vam što ste se registrovali!</p>
            <br />
        <br />
        </div>

        <div style="background-color:deepskyblue;color:white;padding:10px 10px 10px 10px;font-size:20px">
            <p>Zakažite svoj termin. Očekujemo Vas!</p>
        </div>

    </div>


</body>
</html>

